body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 0%;
    margin-right: 100px;
    margin-bottom: 80px;
    margin-left: 50px;


}

.img-info h2 {
    text-transform: uppercase;


}

.img-banner {
    width: 1200px;
    height: 130px;
}

@media only screen and (max-width: 992px) {
    body {
        background-color: grey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: left;
    }

    .img-news {
        width: 300px;
        height: 200px;
    }

    .img-info h2 {
        font-style: italic;

    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: whitesmoke;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
        text-align: left;
        text-transform: lowercase;
    }

    .img-news {
        width: 300px;
        height: 200px;
    }

    .img-info h2 {
        font-style: normal;

    }
}

@media only screen and (max-width: 576px) {
    .img-banner {
        display: none;
    }

    .img-info h2 {
        text-transform: uppercase;
        margin-top: 0%;


    }

    .img-news {
        width: 400px;
        height: 300px;
        text-align: center;
    }


}